
/* //-- yui-grids style overrides -- */
body { font-family: Helvetica Neue; color: #444; }
#inner { padding: 10px 80px 10px 50px; margin: 1px auto; background: #ffffff; }/*rgba(220, 220, 220, 0.15) */

/* //-- header, body, footer -- */
#hd { padding-bottom: 0.5em; margin-top: 50px; }
#hd h2 { text-transform: uppercase; letter-spacing: 2px; }
#bd, #ft { margin-bottom: 0.3em; margin-top: 0.2em;}

/* //-- footer -- */
#ft { padding: 0.4em 0 0.3em 0; font-size: 92%; text-align: center; }
#ft p { margin-bottom: 0; text-align: center; }


/* //-- core typography and style -- */
#hd h1 { font-size: 38px; text-transform: uppercase; letter-spacing: 3px; }
h2 { font-size: 160%; font-weight: 300; }
h3, h4, h5 { font-size: 112%; padding-bottom: 3px; }
h1, h2, h3, h4 { color: #31b7de; padding-bottom: 5px;}
h4 { font-weight: 200; color: black;}
h5 { font-weight: 500; color: black;}
h5 span { font-weight: normal; }
p { line-height: 18px; }
a { color: #990003 }
a:hover { text-decoration: none; }
strong { font-weight: bold; }
li { line-height: 24px; }
p.enlarge { font-size: 144%; padding-right: 6.5em; line-height: 24px; }
p.enlarge span { color: #000 }
.contact-info { margin-top: 7px; }


/* //-- section styles -- */

a#pdf { display: block; float: left; background: #666; color: white; padding: 6px 50px 6px 12px; margin-bottom: 6px; text-decoration: none;  }
a#pdf:hover { background: #222; }

.job { position: relative; margin-bottom: 0.7em; padding-bottom: 0.5em;  }
.job h4 { position: absolute; top: -0.02em; right: 0; }
.job p { margin: 0.20em 0 0 0.20em; }

.last { border: none; }
.skills-list {  }
.skills-list ul { margin: 0; }
.skills-list li { margin: 3px 0; padding: 3px 0; }
.skills-list li span { font-size: 152%; display: block; margin-bottom: -2px; padding: 0; }
.talent { width: 32%; float: left }
.talent h2 { margin-bottom: 6px; }

#srt-ttab { margin-bottom: 100px; text-align: center;  }
#srt-ttab img.last { margin-top: 20px }

/* --// override to force 1/8th width grids -- */
.yui-gf .yui-u{width:100%;}
.yui-gf div.first{width:12.3%;}
.yui-gf .yui-u { float: none; }

/* additional styles */
.left-nav {
    border-right: 1px dotted #cac9c9;
    width: 200px;
    height: 1080px;
    text-align: right;
}
.right-main{ padding-left: 55px; }
.name h2 { font-size: 250%;}
.name {text-align: right; margin-top: 80px; margin-right: 30px;}
.contact-info {text-align: right; margin-right: 30px;}
.languages { text-align: right; padding-right: 30px; position: absolute; top: 710px;}
.yui-u > .job p::before { content: '• ' }
.education .wellesley { padding-bottom: 0px; margin-bottom: 0px; }
